{#{% extends "side_bar.html" %}#}
{#{% load static i18n tinycontent_tags %}#}
{##}
{##}
{##}
{#{% block title %}{% trans "About Us" %}{% endblock %}#}
{##}
{#{% block inner_content %}#}
{#    {% tinycontent_simple 'about_us' %}#}
{#{% endblock %}#}




{#{% extends "account/base.html" %}#}
{% extends "side_bar.html" %}

{% load i18n %}
{% load static crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}



{% block inner_content %}


{#  <section id="main__profile">#}
{#    <div class="container-fluid d-flex justify-content-between">#}

        {#              <div class="col-3">#}
{#        {% include "side_bar.html" %}#}
        {#          </div>#}

      <div class="col-profile">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
          <button class="btn btn-primary" type="submit" name="action">{% trans "Update" %}</button>
        </form>

</div>






{#    </div>#}
{#  </section>#}

{% endblock %}

