{% load i18n static %}

<script>
    $("#anonymous_search_form").on("submit", function (event) {
        event.preventDefault();
        {#console.log($(this).serialize());#}

        $.ajax({
            type: "POST",
            url: "{% url 'api:anonymous_sarch' %}",

            data: $(this).serialize(),
            success: function (msg) {
                $('#after_search_show').collapse('show');
                $('#search_form').collapse('hide');

                let search_results = msg['search_results'];
                {#alert(search_results);#}
                let search_input = $('#anonymous_search_input')[0];
                search_input.value = `Found ${numberWithCommas(search_results)} sites`;
                //search_input.addClass('btn-outline-success');


                {#alert(msg);#}
            },

            error: function () {
                {#alert("failure");#}
            }
        });
    });


</script>
