{% extends "base.html" %}
{% load i18n static %}

{% block content %}

 <div class="swiper-container">
    <div class="swiper-slide-1 container">
        <div>
            <h1>More time for your business,<br> less for routine</h1>
            <p>You can defend your copyright<br> by your own any legal support<br> are needed</p>
        </div>
    </div>
   <div class="container-fluid swiper-slide-2">
<div class="container automated_service">
    <div class="row">
             <div class="col-3">
                         <div style="background:rgba(94, 60, 247, 1); height: 20px; margin-top: -20px; margin-left: -15px;"></div>
             </div>

            <div class="col-3"></div>
           <div class="col-6">
         <div style="background:#009216; height: 20px; margin-top: -20px;    margin-left: -15px;"></div>
           </div>
    </div>
    <p class="automated_service_p">Automated service</p>
    <h2>Makes it faster. <br> Does more</h2>
    <div class="row justify-space-between">
        <div class="col-6 automated_service_p_">
            Our service working at any time of the day and can help you with any amount of workload because of full
            automatization. It will ensure that your intellectual property rights are protected from unauthorized
            use on the Internet.
        </div>
        <div class="col-6 automated_service_p_">
            You will get the most out of your online income stream. The service itself will find and remove any
            content that violates the copyright.
        </div>
    </div>
    <div class="row">
        <div class="col-6 automated_number">
            <div style="background:rgba(94, 60, 247, 1); height: 20px;"></div>
            <div class="automated_number_1" style="background:rgba(94, 60, 247, 1); color:white;">
                <h2>28</h2>
                <p>Times cheaper than <br> manual lawyers protecting your intellectual property</p>
            </div>
        </div>
        <div class="col-3 automated_number">
            <div style="background:#009216; height: 20px;"></div>
            <div class="automated_number_2">
                <h2>5.5</h2>
                <p>Seconds takes per complaint on average</p>
            </div>
        </div>
        <div class="col-3 automated_number">
            <div style="background:#F7B500; height: 20px;"></div>
            <div class="automated_number_3">
                <h2>7</h2>
                <p>Times faster than manual lawyer services</p>
            </div>
        </div>

    </div>
    <div>
      <p class="_works_p">Process</p>
    <h2 class="_works_h2">How it works</h2>
    <p class="_works_p_">Working in any jurisdiction of the world</p>
    </div>
</div>
   </div>
    <div class="container process_col">
        <div class="row">
            <div class="col-3">
                <div style="background:rgba(94, 60, 247, 1); height: 20px;"></div>
                <div class="process_col_p">
                    <p style="color:rgba(94, 60, 247, 1);padding-top: 15px;">1</p>
                    <p>Specify information about your company or brand</p>
                </div>

            </div>
            <div class="col-3">
                <div class="process_col_background" style="background:white; height: 20px;"></div>
                <div class="process_col_p">
                    <p style="padding-top: 15px;">2</p>
                    <p>Put the link on the infringing content</p>
                </div>

            </div>
            <div class="col-6">
                <div style="background:#F7B500; height: 20px;"></div>
                <div class="process_col_p">
                    <p style="color:#F7B500; padding-top: 15px;">3</p>
                    <p>Our system automatically formulate complaint and send it to authorized bodies</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
{#  <script>#}
{#    let swiper = new Swiper('.swiper-container', {#}
      {#pagination: '.swiper-pagination',#}
{#      direction: 'vertical',#}
{#      slidesPerView: 1,#}
{#      paginationClickable: true,#}
{#      spaceBetween: 30,#}
{#      mousewheelControl: true,#}
{#      parallax: true,#}
{#      speed: 600,#}
{#     });#}
{##}
{##}
{##}
{#  </script>#}
{% endblock %}
