{% load static i18n %}

{#<script>#}
{#    $(document).ready(function () {#}
{#        $(window).scroll(function () {#}
{#            if ($(this).scrollTop() > 10) {#}
{#                $('#scroll').fadeIn();#}
{#            } else {#}
{#                $('#scroll').fadeOut();#}
{#            }#}
{#        });#}
{#        $('#scroll').click(function () {#}
{#            $("html, body").animate({scrollTop: 0}, 600);#}
{#            return false;#}
{#        });#}
{#    });#}
{##}
{#</script>#}



<footer id="footer" >
  <div class="footer d-flex align-items-end justify-content-between ">
      <div class="container contact_us_" style="    padding: 0 15px;">
          <h3 class="contact_us_p">{% trans 'Find out more' %}</h3>
          <h2 style="margin-bottom: 5px;">{% trans 'Contact us' %}</h2>
          <a href="mailto: dmca@lawyerd.net">{% trans 'email' %}: dmca@lawyerd.net</a><br>
          <a href="https://t.me/lawyerdsupport">{% trans 'telegram' %}: lawyerdsupport</a>
      </div>
  </div>
</footer>
