{% load static i18n %}
{% include 'gdpr.html' %}

<!--<header>-->
<!--    <nav class="navbar navbar-expand-sm navbar-light bg-light container">-->

<!--  <a class="navbar-brand" href="{% url 'home' %}">-->
<!--    Lawyer<span>d</span>! <span class="sr-only">(current)</span>-->
<!--  </a>-->


<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"-->
<!--          aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->

<!--&lt;!&ndash;        {# superuser #}&ndash;&gt;-->
<!--        {% if request.user.is_superuser %}-->

<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>-->
<!--          </li>-->


<!--          <li class="nav-item">-->
<!--            <a class="nav-link {% if request.resolver_match.url_name == 'swagger' %}active{% endif %}"-->
<!--               href="{% url 'swagger' %}">-->
<!--                {% trans 'API' %}-->
<!--            </a>-->
<!--          </li>-->


<!--          <li>-->
<!--            <a class="nav-link" href="{% url 'explorer_index' %}">-->
<!--                {% trans 'SQL' %}-->
<!--            </a>-->
<!--          </li>-->
<!--        {% endif %}-->
<!--&lt;!&ndash;        {# superuser #}&ndash;&gt;-->


<!--&lt;!&ndash;        {# //////////#}&ndash;&gt;-->
<!--        {% if request.user.is_authenticated %}-->
<!--&lt;!&ndash;            {#        {% endif %}#}&ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}"-->
<!--               href="{% url 'pricing' %}">{% trans "Pricing" %}</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}"-->
<!--               href="{% url 'contact_us' %}">{% trans "Contact us" %}</a>-->
<!--        </li>-->

<!--        <li class="nav-item logout">-->
<!--            <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}"-->
<!--               href="{% url 'account_logout' %}">{% trans "Logout" %}</a>-->
<!--        </li>-->

<!--        {% else %}-->

<!--        <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}"-->
<!--                   href="{% url 'pricing' %}">{% trans "Pricing" %}</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}"-->
<!--                   href="{% url 'about_us' %}">{% trans "About us" %}</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <ul class="nav col-12 col-lg-auto  justify-content-end mb-md-0">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}"-->
<!--                   href="{% url 'account_login' %}">{% trans "Login" %}</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link nav-link_registration {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}"-->
<!--                   href="{% url 'account_signup' %}">{% trans "Registration" %}</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        {% endif %}-->

<!--    </ul>-->
<!--  </div>-->


<!--</nav>-->
<!--</header>-->
<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                Lawyer<span>d</span>! <span class="sr-only">(current)</span>
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">

                    <!--        {# superuser #}-->
                    {% if request.user.is_superuser %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'swagger' %}active{% endif %}"
                           href="{% url 'swagger' %}">
                            {% trans 'API' %}
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'explorer_index' %}">
                            {% trans 'SQL' %}
                        </a>
                    </li>
                    {% endif %}
                    <!--        {# superuser #}-->


                    <!--        {# //////////#}-->
                    {% if request.user.is_authenticated %}
                    <!--            {#        {% endif %}#}-->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}"
                           href="{% url 'pricing' %}">{% trans "Pricing" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}"
                           href="{% url 'contact_us' %}">{% trans "Contact us" %}</a>
                    </li>

                    <li class="nav-item logout">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}"
                           href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                    </li>

                    {% else %}


                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}"
                   href="{% url 'home' %}#body_pricing">{% trans "Pricing" %}</a>
{#                   href="{% url 'pricing' %}">{% trans "Pricing" %}</a>#}

                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}"-->
<!--                   href="{% url 'home' %}#pricing">{% trans "Pricing" %}</a>-->
<!--{#                   href="{% url 'pricing' %}">{% trans "Pricing" %}</a>#}-->

<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}"
                           href="{% url 'about_us' %}">{% trans "About us" %}</a>
                    </li>

                    <li class="nav-item margin_l">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}"
                           href="{% url 'account_login' %}">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link_registration {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}"
                           href="{% url 'account_signup' %}">{% trans "Registration" %}</a>
                    </li>
		    <li>
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="container-language">
      <div class="dropdown-language">
        <div class="select">
          <span>
          {{ LANGUAGE_CODE }}
          	{% if 'ru' in LANGUAGE_CODE %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/320px-Flag_of_Russia.svg.png">
          	{% elif 'uk' in LANGUAGE_CODE %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Flag_of_Ukraine.png">
		{% elif 'en' in LANGUAGE_CODE %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://pngicon.ru/file/uploads/Flag-SShA.png">
          	{% elif 'es' in LANGUAGE_CODE%}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://pngimg.com/uploads/flags/flags_PNG14653.png">
          	{% endif %}
       	 </span>
          <i class="fa fa-chevron-left"></i>
        </div>
        <input type="hidden" name="gender">
        <ul class="dropdown-menu">
        	{% for language in languages %}
          <a href="/{{ language.code }}/">
          	<li id="male">
          	{{ language.code }}
          	{% if 'ru' in language.code %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/320px-Flag_of_Russia.svg.png">
          	{% elif 'uk' in language.code %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Flag_of_Ukraine.png">
		{% elif 'en' in language.code %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://pngicon.ru/file/uploads/Flag-SShA.png">
          	{% elif 'es' in language.code %}
          		<img style="width: 20px; margin-left: 5px;"
          		src="https://pngimg.com/uploads/flags/flags_PNG14653.png">
          	{% endif %}
          	</li>
          </a>
         {% endfor %}
        </ul>
      </div>
</div>
		    </li>

                </ul>

                    {% endif %}

            </div>

        </div>
    </nav>
</header>
  <script type="text/javascript">
  /*Dropdown Menu*/
$('.dropdown-language').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown-language .dropdown-menu li').click(function () {
        $(this).parents('.dropdown-language').find('span').text($(this).text());
        $(this).parents('.dropdown-language').find('input').attr('value', $(this).attr('id'));
    });
/*End Dropdown Menu*/
  </script>
