{% extends "base.html" %}
{% load static i18n %}

{#https://stackoverflow.com/questions/40497288/how-to-create-a-fixed-sidebar-layout-with-bootstrap-4#}


{% block content %}
  <div class="row">

      {% if request.user.is_authenticated %}
        <div id="sidebar-wrapper">
<!--            {#    <div class="bg-light border-right col-6 col-md-2" id="sidebar-wrapper">#}-->
          <div class="list-group list-group-flush sticky-top flex-grow-1">

            <a href="/"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <span>
                <i class="material-icons">search</i>
              <span>
                {% trans "Search and History" %}
              </span>
            </span>

              <div>
                  {% trans "Specify the infringing resource " %}
                  {#                  {% trans "Find sites using your intelectually property" %}#}
              </div>
            </a>

            <hr/>

            <a href="{% url 'profile' %}"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
            <span>
              <i class="material-icons">assignment_ind</i>
              <span>
                {% trans "Profile" %}
              </span>
            </span>
              <div>
                  {% trans "Your profile settings" %}
              </div>
            </a>


            <a href="{% url 'company' %}"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'company' %}active{% endif %}">
            <span class="{% if request.resolver_match.url_name == 'oops' and not context.filled_company %}oops{% endif %}">
                <i class="material-icons">assignment</i>
              <span>
                {% trans "Company information" %}
              </span>
            </span>
              <div>
                  {% trans "Information about the company is vital for completing your complaints" %}
                  {#                  {% trans "Information about your company is needed to automatically generate complaints" %}#}
              </div>
            </a>


            <a href="{% url 'products' %}"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'products' %}active{% endif %}">
            <span class="{% if request.resolver_match.url_name == 'oops' and not context.filled_products %}oops{% endif %}">
{#                <i class="material-icons">th</i>#}
                <i class="fas fa-th"></i>
              <span>
                {% trans "Products" %}
              </span>
            </span>
              <div>
                  {% trans "The details of your products and trademarks that apply to them" %}
                  {#                  {% trans "Your products and trademarks that apply to them" %}#}
              </div>
            </a>

            <a href="{% url 'pricing' %}"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}">
            <span class="{% if request.resolver_match.url_name == 'oops' and not context.filled_payments_plan %}oops{% endif %}">
                <i class="material-icons">payment</i>
              <span>
                {% trans "Payment plan" %}
              </span>
            </span>
              <div>
                  {% trans "Choose you plan" %}
              </div>
            </a>


            <a href="{% url 'faq' %}"
               class="list-group-item list-group-item-action bg-light {% if request.resolver_match.url_name == 'faq' %}active{% endif %}">
            <span>
                <i class="material-icons">error</i>
              <span>
                {% trans "FAQ" %}
              </span>
            </span>
              <div>
                  {% trans "Answers to the most frequently asked questions" %}
              </div>
            </a>

            <hr class="inline_hr"/>

          </div>
        </div>
      {% endif %}




    <div {% if request.user.is_authenticated %} class="col-sm" {% endif %}>
        {% block inner_content %}{% endblock %}
    </div>


  </div>
{% endblock %}
