{% load i18n %}

<div id="body_pricing">
    <h3>{% trans 'Pricing' %}</h3>
    <h2>{% trans 'Suitable for defending new business.' %}<br>
        {% trans 'Suitable for defending big fish`s products' %}</h2>
    <p>{% trans 'Choose the one that suits you' %}</p>
    <div class="row">
        <div class="col-4">
            <div class="color_1">
                <p><span>$70</span></p>
                <h2>{% trans 'Do it yourself' %}</h2>
                <p>{% trans 'For creative individuals and small teams' %}</p>
                <ol>
                    <li> {% trans '10 complaint for IP infringement' %}</li>
                    <li>{% trans 'Access for information about claims in personal profile' %}
                    </li>
                    <li>{% trans 'Help in the process of filling the necessary information for sending complaint' %}
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-4 pricing_border">
            <div class="color_2">
                <p>
                 <a style="cursor: pointer;font-weight: 700;"  type="" data-toggle="modal" data-target="#Get_in_touch">
                        {% trans 'CONTACT US' %}
                    </a>
                </p>
                <h2>{% trans 'Lawyers support regime' %}
                </h2>
                <p>{% trans 'For in-house lawyers or Law firm which provides services for the rightsholders' %}
                </p>
                <ol>
                    <li>{% trans 'Unlimited complaints' %}</li>
                    <li>{% trans 'Monthly report' %}</li>
                    <li>{% trans 'Access for information about claims in personal profile' %}
                    </li>
                    <li>{% trans 'Further communication with authorized persons' %}
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-4">
            <div class="color_3">
                <p>
                    <a style="cursor: pointer;font-weight: 700;" type="" data-toggle="modal" data-target="#Get_in_touch">
                        {% trans 'CONTACT US' %}
                    </a>
                </p>
                <h2>{% trans 'Full product Protection' %}
                </h2>
                <p>{% trans 'Full IP protection services' %}</p>
                <ol>
                    <li>{% trans 'Everyday products monitoring' %}</li>
                    <li>{% trans 'Unlimited complaints' %}</li>
                    <li>{% trans 'Further communication with authorized persons' %}
                    </li>
                    <li>{% blocktrans %}Services for removing any
                        kind of infringement of
                        intellectual property rights
                        on the Internet{% endblocktrans %}

                    </li>
                    <li>{% trans 'Access for information about claims in personal profile' %}
                    </li>
                    <li>{% trans 'Unique deleting services' %}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
